<div class="padding-20" ng-controller="historicoNotasCtrl">
  <div class="header-line">
    <h4>HISTÓRICO DE NOTAS</h4>
    <div class="inline-block icon-carrinho"></div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome produto</th>
        <th>Data venda</th>
        <th>Id produto</th>
        <th>Id venda</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="nota in notas">
        <td>{{nota.nomeProduto}}</td>
        <td>{{nota.data | date:'dd/MM/yyyy'}}</td>
        <td>{{nota.idProduto}}</td>
        <td>{{nota.idVenda}}</td>
        <th>{{getStatus(nota.aprovada)}}</th>
      </tr>
    </tbody>
  </table>
  <iframe id="reportDownload" style="display: none;"></iframe>
  <!--<a class="report-link" ng-if="type != 'empresa'" href="/s/report?id={{user.idVendedor}}" target="_blank">Baixar PDF</a> -->
  <button type="button" class="btn btn-default" ng-click="gerarPdf()">Baixar PDF</button>
</div>
