<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendas Plus</title>
    <script src="../js/angular/angular.js"></script>
    <script src="../js/angular/alertify.js"></script>
    <script src="../js/angular/ngAlertify.js"></script>
    <script src="../js/angular/angular-animate.js"></script>
    <script src="../js/angular/angular-route.min.js"></script>
    <script src="../js/angular/angular-resource.min.js"></script>
    <script src="../js/angular/ui-bootstrap.js"></script>
    <script src="../js/angular/ui-bootstrap-tpls.js"></script>
    <script src="../js/angular/jquery-3.1.1.min.js"></script>
    <script src="../js/angular/jquery-mask.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/alertify.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../js/angular/ui-bootstrap-csp.css">
  </head>
  <body ng-app="vendasPlusApp" ng-controller="mainCtrl">

    <nav class="navbar navbar-inverse sidebar" role="navigation">
      <div class="container-fluid">
    		<div class="navbar-header">
          <div class="icon-sale-sm"></div>
    		</div>
    		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    			<ul class="nav navbar-nav">
  					<li ng-if="type == 'empresa'" ng-class="{ 'active': menu.active == 'cadastro-promocao' }" ng-click="menuSelected('cadastro-promocao')">
  					  <a>Cadastrar promoção<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a>
  					</li>
  					<li ng-if="type == 'empresa'" ng-class="{ 'active': menu.active == 'editar-promocao' }" ng-click="menuSelected('editar-promocao')">
  					  <a>Editar promoção<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-wrench"></span></a>
  					</li>
  					<li ng-if="type == 'empresa'" ng-class="{ 'active': menu.active == 'validar-notas' }" ng-click="menuSelected('validar-notas')">
  					  <a>Validar nota<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a>
  					</li>
  					<li ng-if="type == 'empresa'" ng-class="{ 'active': menu.active == 'historico-notas' }" ng-click="menuSelected('historico-notas')">
  					  <a>Histórico de notas<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span></a>
  					</li>
  					<li ng-if="type == 'vendedor'" ng-class="{ 'active': menu.active == 'campanhas' }" ng-click="menuSelected('campanhas')">
  					  <a>Campanhas<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-star"></span></a>
  					</li>
            <li ng-if="type == 'vendedor'" ng-class="{ 'active': menu.active == 'cadastro-nota' }" ng-click="menuSelected('cadastro-nota')">
              <a>Cadastrar nota<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a>
            </li>
            <li ng-if="type == 'vendedor'" ng-class="{ 'active': menu.active == 'historico-notas' }" ng-click="menuSelected('historico-notas')">
  					  <a>Histórico de notas<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span></a>
  					</li>
            <li ng-if="type == 'vendedor'" ng-class="{ 'active': menu.active == 'resgate' }" ng-click="menuSelected('resgate')">
              <a>Resgate<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-certificate"></span></a>
            </li>
    			</ul>
    		</div>
    	</div>

    </nav>
    <div class="menu-container">
      <div class="h-100 padding-top-25">
        <div class="col-xs-11">
          <div class="pull-right text-align-right">
            <div><span>Bem vindo, <strong>{{user.nome}}!</strong></span></div>
            <div ng-if="type == 'vendedor'">
            	<span>Você já acumulou <strong>{{user.pontos}} pontos</strong></span>
            </div>
          </div>
        </div>
        <div class="col-xs-1 no-padding">
          <div class="icon-user"></div>
        </div>
      </div>
      <div ng-include src="selectedTemplate"></div>
    </div>

    <script type="text/ng-template" id="confirmar-venda.html">
        <div class="padding-20">
          <h4>Deseja confirmar essa venda?</h4>
          <h3 class="margin-bottom-20">{{param.nomeProduto}}</h3>
          <div class="margin-top-20">
            <button type="button" class="btn btn-danger" ng-click="reprovar(param)"
                    ng-disabled="loadingDanger">
              <i class="fa fa-circle-o-notch fa-spin" ng-if="loadingDanger"></i>
              Reprovar
            </button>
            <button type="button" class="btn btn-success float-right" ng-click="confirmar(param)"
                    ng-disabled="loadingSuccess">
              <i class="fa fa-circle-o-notch fa-spin" ng-if="loadingSuccess"></i>
              Confirmar
            </button>
          </div>
        </div>
    </script>

    <script src="../js/controllers/vendasPlusController.js"></script>
	  <script src="../js/controllers/resgateController.js"></script>
    <script src="../js/controllers/cadastroNotaController.js"></script>
    <script src="../js/controllers/cadastroPromocaoController.js"></script>
    <script src="../js/controllers/campanhaController.js"></script>
    <script src="../js/controllers/editarPromocaoController.js"></script>
    <script src="../js/controllers/editarPromocaoModalController.js"></script>
    <script src="../js/controllers/historicoNotasController.js"></script>
    <script src="../js/controllers/validarNotasController.js"></script>
    <script src="../js/controllers/confirmacaoController.js"></script>
  </body>
</html>
